<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Plateforme{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="header-border"></div>

  <header class="header">
    <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="Logo Crédit Agricole">
    <h1>{% block header %}Plateforme Entreprise{% endblock %}</h1>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <div class="footer-border"></div>

</body>
</html>
