<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Recherche Entreprise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>


<nav class="navbar">
  <div class="navbar-container">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
    <a href="{{ url_for('logout') }}" class="btn-logout">se deconnecter</a>
  </div>
</nav>
<body>

<body>
    <div class="header-border"></div>

    <header>
        <h1>Rechercher une entreprise</h1>
    </header>
    <div class ='siret-search'>
        <form method="POST" novalidate>
        <label for="siret">Numéro SIRET (14 chiffres) :</label>
        <input 
            type="text" 
            name="siret" 
            id="siret" 
            required 
            maxlength="14" 
            pattern="\d{14}" 
            placeholder="Exemple : 12345678901234"
            title="Veuillez saisir un numéro SIRET valide à 14 chiffres"
        />
        <button type="submit">Rechercher</button>
        <footer class="login-footer">
        <a href="#">Conditions d'utilisation</a> |
        <a href="#">Protection des données</a> |
        <a href="#">Cookies</a> |
        <a href="#">Mentions légales</a>
      </footer>
    </div>
  </div>
        
    </form>
    </div>

    <!-- Animation des bulles -->
    <div class="bubbles">
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
    </div>

    <!-- Bordure dégradée en bas -->
      <footer class="login-footer">
        <a href="#">Conditions d'utilisation</a> |
        <a href="#">Protection des données</a> |
        <a href="#">Cookies</a> |
        <a href="#">Mentions légales</a>
      </footer>
    </div>
  </div>

  <div class="footer-border"></div>
</body>
</html>
